name: Build and deploy

on:
  push:
    branches: [main]
    paths: [index.html, package.json, bun.lock, wrangler.toml, vite.config.ts, tsconfig.*, src/**, .github/workflows/publish.yml]
  workflow_dispatch:

concurrency:
  group: dist
  cancel-in-progress: true

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Install Bun
        uses: oven-sh/setup-bun@v2.0.2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run build
        run: bun run build

      - name: Upload dist folder
        uses: actions/upload-artifact@v5.0.0
        with:
          name: dist
          path: dist
  deploy:
    needs: build
    permissions:
      contents: read
      deployments: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Wrangler config
        uses: actions/checkout@v6.0.0
        with:
          sparse-checkout: wrangler.toml
          sparse-checkout-cone-mode: false

      - name: Download dist artifact
        uses: actions/download-artifact@v6.0.0
        with:
          name: dist
          path: dist

      - name: Deploy
        uses: cloudflare/wrangler-action@v3.14.1
        with:
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          wranglerVersion: latest
          command: deploy
